.navbar {
  background-color: #7E30E1;
  padding: 5px 20px;
  color: #fff;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.navbar-logo {
  width: 80px;
  margin-right: 15px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #F2F2F2;
  scale: 1.1;
}

.search-container {
    margin-left: 250px;
  display: flex;
  gap: 10px;
}

.search-input {
  padding: 5px;
  height: 30px;
  width: 450px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  color: #555353;
  position: relative;
  top: 7px;
}

.search-input::placeholder {
  color: #999;
}

.search-btn {
  padding: 5px 10px;
  background-color: #E26EE5;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  width: 100px;
  transition: 1s;
  position: relative;
  top: -5px;
}

.search-btn:hover {
  background-color: #af4cb3;
  color: #000000;
  border: solid 1px #F2F2F2;
}
